name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3

  organize:
    needs: build
    runs-on: ubuntu-latest
    name: Organize Artifacts
    steps:
      - name: Download Firmware
        uses: actions/download-artifact@v4
        with:
          name: firmware
          path: firmware

      - name: Prepare Lily58
        run: |
          mkdir -p lily58
          cp firmware/lily58* lily58/
          zip -r lily58_firmware.zip lily58

      - name: Prepare Sofle Standard
        run: |
          mkdir -p sofle_standard
          cp firmware/sofle_choc_pro_left-nice_view_disp* sofle_standard/
          cp firmware/sofle_choc_pro_right-nice_view_disp* sofle_standard/
          cp firmware/sofle_choc_pro_*-settings_reset* sofle_standard/
          zip -r sofle_standard_firmware.zip sofle_standard

      - name: Prepare Sofle Dongle
        run: |
          mkdir -p sofle_dongle
          cp firmware/sofle_dongle* sofle_dongle/
          cp firmware/sofle_choc_pro_left_peripheral* sofle_dongle/
          # Reuse the right half peripheral
          cp firmware/sofle_choc_pro_right-nice_view_disp* sofle_dongle/
          # Dongle reset
          cp firmware/settings_reset-nice_nano_v2* sofle_dongle/
          zip -r sofle_dongle_firmware.zip sofle_dongle

      - name: Upload Lily58
        uses: actions/upload-artifact@v4
        with:
          name: lily58_firmware
          path: lily58_firmware.zip

      - name: Upload Sofle Standard
        uses: actions/upload-artifact@v4
        with:
          name: sofle_standard_firmware
          path: sofle_standard_firmware.zip

      - name: Upload Sofle Dongle
        uses: actions/upload-artifact@v4
        with:
          name: sofle_dongle_firmware
          path: sofle_dongle_firmware.zip
